name: Metrics
on:
  # Schedule daily updates
  schedule:
    - cron: "0 0 * * *"
  # (optional) Run workflow manually
  workflow_dispatch:
  # (optional) Run workflow when pushing on master/main
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        name: General Stats
        with:
          filename: github-metrics.svg
          token: ${{ secrets.METRICS_TOKEN }}
          user: TiiZss
          base: header, repositories
          plugin_lines: yes
          output_action: commit
          committer_branch: metrics
          config_timezone: Europe/Madrid

      - uses: lowlighter/metrics@latest
        name: Top Languages
        with:
          filename: github-metrics-langs.svg
          token: ${{ secrets.METRICS_TOKEN }}
          base: ""
          plugin_languages: yes
          plugin_languages_limit: 8
          output_action: commit
          committer_branch: metrics
          config_timezone: Europe/Madrid
